.container2 {
  width: 100%;
  height: auto;
  padding-top: 1px;
  background: linear-gradient(130deg, rgb(34, 34, 120), rgb(74, 74, 144));
}

body {
  background: linear-gradient(130deg, rgb(34, 34, 120), rgb(74, 74, 144));
}

.weather {
  width: 500px;
  padding: 0px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

/*.default {
  background-image: url("img/clear2.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(16, 8, 8);
  background-position: center;
  width: 100%;
  height: 100%;
}*/

.morning-bg {
  background-image: url("img/images/clear2.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(16, 8, 8);
  background-position: center;
  width: 100%;
  height: 100%;
}

.night-bg {
  background-image: url("img/night-time.gif");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust as necessary */
}

.forecast-container {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents items from wrapping to the next line */
  padding: 0px; /* Add some padding for better visualization */
  scroll-snap-type: x mandatory; /* Enables snap scrolling */
  transition: all 0.2s ease-in-out;
}

.mini-weather {
  flex: 0 0 auto; /* Prevents the item from shrinking or growing */
  width: 100px; /* Set a fixed width for each mini-weather item */
  margin: 10px; /* Add some space between the mini-weather divs */
  padding: 10px; /* Add some padding inside the mini-weather divs */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for better visualization */
  border-radius: 8px; /* Rounded corners */
  background-color: #e0e0e000; /* Background color */
  text-align: center; /* Center the content */
  scroll-snap-align: start; /* Ensures the item snaps to the start of the container */
}

.forecast-container2 {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents items from wrapping to the next line */
  padding: 0px; /* Add some padding for better visualization */
  scroll-snap-type: x mandatory; /* Enables snap scrolling */
  transition: all 0.2s ease-in-out;
}

.mini-weather2 {
  flex: 0 0 auto; /* Prevents the item from shrinking or growing */
  width: 200px; /* Set a fixed width for each mini-weather item */
  margin: 10px; /* Add some space between the mini-weather divs */
  padding: 10px; /* Add some padding inside the mini-weather divs */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for better visualization */
  border-radius: 8px; /* Rounded corners */
  background-color: #e0e0e000; /* Background color */
  text-align: center; /* Center the content */
  scroll-snap-align: start; /* Ensures the item snaps to the start of the container */
}

/* Width and color of the scrollbar track */
.forecast-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f500;
}

/* Handle of the scrollbar */
.forecast-container::-webkit-scrollbar-thumb {
  background-color: #3f3e3e85;
  border-radius: 55px;
}

/* Handle on hover */
.forecast-container::-webkit-scrollbar-thumb:hover {
  background-color: #3b3939;
}

/* Button at the top and bottom of the scrollbar */
.forecast-container::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Corner of the scrollbar */
.forecast-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.forecast-container2::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f500;
}

/* Handle of the scrollbar */
.forecast-container2::-webkit-scrollbar-thumb {
  background-color: #3f3e3e85;
  border-radius: 55px;
}

/* Handle on hover */
.forecast-container2::-webkit-scrollbar-thumb:hover {
  background-color: #3b3939;
}

/* Button at the top and bottom of the scrollbar */
.forecast-container2::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Corner of the scrollbar */
.forecast-container2::-webkit-scrollbar-corner {
  background-color: transparent;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border-style: solid;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: rgba(176, 23, 23, 0);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border-color: #ffffff;
  flex: 1;
  margin-right: 12px;
}

.search button {
  border-style: solid;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border-color: #ffffff;
  background-color: rgba(255, 0, 0, 0);
}

.search button img {
  width: 20px;
}

.details {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 15px;
  color: white;
}

.details > div {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.details > div:hover {
  transform: scale(1.05);
}

.comfort-icon {
  color: #05a5d1;
}

.wind-icon {
  color: #ffffff;
}

.sun-icon {
  font-size: 55px;
  color: #ffcc33;
}

.humidity,
.wind,
.sunrise-sunset {
  margin-top: 10px;
}

.humidity-value,
.wind-speed {
  font-size: 2em;
  font-weight: bold;
}

p {
  margin: 5px 0;
}
.humidity,
.wind {
  font-size: 20px;
}

.error {
  color: rgb(240, 247, 247);
  text-align: left;
  margin-left: 10px;
}

.favourites {
  border: none;
  background-color: #007bff00;
}

.weather-info {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center content horizontally */
  padding: 1rem; /* Add some padding for spacing */
  border-radius: 5px; /* Rounded corners for a softer look */
  background-color: #f0f0f008; /* Light gray background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.2s ease-in-out; /* Add a smooth hover effect */
}

.weather-info:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288); /* Increase shadow on hover */
  transform: scale(1.02); /* Slightly enlarge the card on hover */
}

.description {
  margin: 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.temperature {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.current {
  font-size: 57px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.high,
.low {
  color: #0000009a; /* Lighter color for high and low temperatures */
}

nav {
  display: flex;
  background-color: #eee; /* Optional background color */
}

nav a {
  padding: 1rem 2rem; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
  color: #333; /* Text color */
}

nav a.active {
  font-weight: bold; /* Style for active link */
  color: #000; /* Text color for active link */
}

.current-forecast img {
  width: 130px;
  height: auto;
  object-fit: contain;
}

.day-forecast img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.week-forecast img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

#left {
  float: left;
  background: rgba(255, 0, 0, 0);
  width: 33%;
  height: auto;
  margin: 50px auto;
}

#middle {
  float: left;
  background: rgba(0, 128, 0, 0);
  width: 33%;
  height: 280px;
}

#right {
  float: right;
  background: rgba(0, 0, 255, 0);
  width: 33%;
  height: 280px;
  margin: 50px auto;
}

/*loader*/
.loader {
  position: fixed; /* Ensures the loader stays in place when scrolling */
  top: 50%; /* Positions vertically at the center */
  left: 50%; /* Positions horizontally at the center */
  transform: translate(-50%, -50%); /* Adjusts position based on width/height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 999;
}

.loader__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 4px;
  animation: loader_901 1s ease-in-out infinite;
}

.loader__circle:nth-of-type(1) {
  background-color: #007aff;
  animation-delay: 0;
}

.loader__circle:nth-of-type(2) {
  background-color: #ff2d55;
  animation-delay: 0.25s;
}

.loader__circle:nth-of-type(3) {
  background-color: #34c759;
  animation-delay: 0.5s;
}

.loader__circle:nth-of-type(4) {
  background-color: #ff9500;
  animation-delay: 0.75s;
}

@keyframes loader_901 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1);
  }
}

.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(130deg, rgb(34, 34, 120), rgb(74, 74, 144));
}

.login-form,
.signup-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.login-form h2,
.signup-form h2 {
  margin-bottom: 1rem;
}

.login-form div,
.signup-form div {
  margin-bottom: 1rem;
}

.login-form label,
.signup-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.login-form button,
.signup-form button {
  width: 100%;
  padding: 0.6rem;
  background: #007bff;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover {
  background: #0056b3;
}
